[Unit]
Description=OpenStack Nova Network Server
After=syslog.target network.target

[Service]
Type=simple
User=nova
ExecStart=/usr/bin/nova-network --flag-file /etc/nova/nova.conf --logfile /var/log/nova/network.log

[Install]
WantedBy=multi-user.target

