[Unit]
Description=OpenStack Nova web-based serial console proxy
After=syslog.target network.target

[Service]
Type=simple
User=nova
ExecStart=/usr/bin/nova-ajax-console-proxy --flag-file /etc/nova/nova.conf --logfile /var/log/nova/ajax-console-proxy.log

[Install]
WantedBy=multi-user.target

