[Unit]
Description=OpenStack Nova VncProxy Server
After=syslog.target network.target

[Service]
Type=simple
User=nova
ExecStart=/usr/bin/nova-vncproxy --flagfile /etc/nova/nova.conf --logfile /var/log/nova/vncproxy.log

[Install]
WantedBy=multi-user.target

